# Dependencies & Build Artifacts
################################
# Ignore all node_modules folders everywhere
node_modules/

# Ignore build output folders
dist/
/frontend/dist

# Environment Variables & Secrets
################################
# Ignore all .env files in any directory
**/.env
**/.env.*
# BUT, do NOT ignore the example file
!**/.env.example

# Log files
################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS Files
################################
# macOS
.DS_Store

# IDEs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?